<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<a href="/">
<img src="../static/images/logo.png" alt="Paras työpaikka">
</a>

<title>Etusivu</title>
<h1>Etusivu</h1>
<b>Tervetuloa varastosovellukseen</b>!

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/varasto">Varastosovellukseen</a>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
