<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<a href="/">
<img src="../static/images/logo.png" alt="Paras työpaikka">
</a>

<p> Lisää uusi asiakas järjestelmään: </p>

<form action="/sendnewcustomer" method="POST">
Nimi: <br>
<textarea name="name" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Lisää asiakas">
</form>

<p> Tai poista asiakas järjestelmästä: </p>

{% for customer in customer %}
<form action="/sendcustomeraway" method="POST">
<p></p>
Asiakas: {{ customer[1] }}<br>
<input type="hidden" id="customerid" name="customerid" value={{ customer[0] }}>
<input type="submit" value="Poista">
</form>
<hr>
{% endfor %}

<p> - </p>
<a href="/customerorders">Takaisin</a>
<p> - </p>
<a href="/">Etusivulle</a>