<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<a href="/">
<img src="../static/images/logo.png" alt="Paras työpaikka">
</a>

<p> Poista tuote varastosta. Tuote ja sen tilaukset katoavat järjestelmästä. </p>
<p> Valitse tuote: </p>

{% for item in item %}
<form action="/poista" method="POST">
Tuote: {{ item[1] }}
<p></p>
Varastossa: {{ item[2] }}kpl<br>
<input type="hidden" id="itemid" name="itemid" value={{ item[0] }}>
<input type="submit" value="Poista">
</form>
<hr>
{% endfor %}

<p> - </p>
<a href="/varasto">Takaisin</a>
<p> - </p>
<a href="/">Etusivulle</a>