<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<a href="/">
<img src="../static/images/logo.png" alt="Paras työpaikka">
</a>

Erilaisia tavararoita: {{ count }}
<hr>

{% for item in item %}
{{ item[1] }} , varastossa {{ item[2] }}kpl
<hr>
{% endfor %}

<p> - </p>
<a href="/taydennys">Täydennä varastoa tilaamalla tuotetta</a>
<p> - </p>
<a href="/saapuneet">Vastaanota saapuneita varaston täydennyksiä</a>
<p> (Saapuneita täydennyksiä: {{ arrived }})  </p>
<p> - </p>
<a href="/new">Kokonaan uusi tuote</a>
<p> - </p>
<a href="/customerorders">Käsittele asiakkaiden tilauksia</a>
<p> - </p>
<a href="/roskiin">Poista tuote varastosta</a>
<p> - </p>
<a href="/">Etusivulle</a>